<div class="row d-flex justify-content-center text-white">
    <div class="col-12 col-md-4">
        <h4>RESERVA ONLINE</h4>
        <hr>
        <h4>DESDE 100 USD</h4>
        <hr>
        <form  >
            <div class="row">
                <div class="col">
                    <label  class="form-label">ENTRADA</label>
                    <input type="date" class="form-control" >

                </div>
                <div class="col">
                    <label  class="form-label">SALIDA</label>
                    <input type="date" class="form-control" >

                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label  class="form-label">Adultos</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Adultos</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>

                </div>

                <div class="col">
                    <label  class="form-label">Niños</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Niños</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>


                </div>

            </div>
            <button type="submit" class="btn btn-primary w-100 mt-3">Ver precios</button>
        </form>  

    </div>
</div>